In [79]:
import pandas as pd
import numpy as np
from pathlib import Path

1. data_dictionary.csv

In [80]:
ROOT_PATH = Path.cwd().parent
DATA_PATH = ROOT_PATH / "data"
# MODEL_PATH = ROOT_PATH / "model"
FIG_PATH = ROOT_PATH / "fig"
OUT_PATH = ROOT_PATH / "out"
print(f"ROOT_PATH: {ROOT_PATH}")
print(f"DATA_PATH: {DATA_PATH}")
print(f"FIG_PATH: {FIG_PATH}")
print(f"OUT_PATH: {OUT_PATH}")

# 表示設定を変更
pd.set_option("display.max_colwidth", 100)

ROOT_PATH: /home/masa1357/Dockerdata/kaggle/Kaggle_ChildMindInstitute
DATA_PATH: /home/masa1357/Dockerdata/kaggle/Kaggle_ChildMindInstitute/data
FIG_PATH: /home/masa1357/Dockerdata/kaggle/Kaggle_ChildMindInstitute/fig
OUT_PATH: /home/masa1357/Dockerdata/kaggle/Kaggle_ChildMindInstitute/out

In [81]:
datadict = pd.read_csv(DATA_PATH/'data_dictionary.csv')
display(datadict)

,Instrument,Field,Description,Type,Values,Value Labels
0,Identifier,id,Participant's ID,str,NaN,NaN
1,Demographics,Basic_Demos-Enroll_Season,Season of enrollment,str,"Spring, Summer, Fall, Winter",NaN
2,Demographics,Basic_Demos-Age,Age of participant,float,NaN,NaN
3,Demographics,Basic_Demos-Sex,Sex of participant,categorical int,"0,1","0=Male, 1=Female"
4,Children's Global Assessment Scale,CGAS-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN
...,...,...,...,...,...,...
76,Sleep Disturbance Scale,SDS-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN
77,Sleep Disturbance Scale,SDS-SDS_Total_Raw,Total Raw Score,int,NaN,NaN
78,Sleep Disturbance Scale,SDS-SDS_Total_T,Total T-Score,int,NaN,NaN
79,Internet Use,PreInt_EduHx-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN
80,Internet Use,PreInt_EduHx-computerinternet_hoursday,Hours of using computer/internet,categorical int,"0,1,2,3","0=Less than 1h/day, 1=Around 1h/day, 2=Around 2hs/day, 3=More than 3hs/day"

2. train.csv

In [82]:
train = pd.read_csv(DATA_PATH/'train.csv')
display(train)

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,PCIAT-PCIAT_18,PCIAT-PCIAT_19,PCIAT-PCIAT_20,PCIAT-PCIAT_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday,sii
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.0,50.8,...,4.0,2.0,4.0,55.0,NaN,NaN,NaN,Fall,3.0,2.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.0,46.0,...,0.0,0.0,0.0,0.0,Fall,46.0,64.0,Summer,0.0,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.5,75.6,...,2.0,1.0,1.0,28.0,Fall,38.0,54.0,Summer,2.0,0.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.0,81.6,...,3.0,4.0,1.0,44.0,Summer,31.0,45.0,Winter,0.0,1.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,ff8a2de4,Fall,13,0,Spring,60.0,Fall,16.362460,59.5,82.4,...,1.0,1.0,0.0,32.0,Winter,35.0,50.0,Fall,1.0,1.0
3956,ffa9794a,Winter,10,0,NaN,NaN,Spring,18.764678,53.5,76.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winter,0.0,NaN
3957,ffcd4dbd,Fall,11,0,Spring,68.0,Winter,21.441500,60.0,109.8,...,1.0,0.0,1.0,31.0,Winter,56.0,77.0,Fall,0.0,1.0
3958,ffed1dd5,Spring,13,0,Spring,70.0,Winter,12.235895,70.7,87.0,...,1.0,1.0,1.0,19.0,Spring,33.0,47.0,Spring,1.0,0.0
3959,ffef538e,Spring,11,0,NaN,NaN,Winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,1.0,NaN

3. test.csv

In [83]:
test = pd.read_csv(DATA_PATH/'test.csv')
display(test)

,id,Basic_Demos-Enroll_Season,Basic_Demos-Age,Basic_Demos-Sex,CGAS-Season,CGAS-CGAS_Score,Physical-Season,Physical-BMI,Physical-Height,Physical-Weight,...,BIA-BIA_TBW,PAQ_A-Season,PAQ_A-PAQ_A_Total,PAQ_C-Season,PAQ_C-PAQ_C_Total,SDS-Season,SDS-SDS_Total_Raw,SDS-SDS_Total_T,PreInt_EduHx-Season,PreInt_EduHx-computerinternet_hoursday
0,00008ff9,Fall,5,0,Winter,51.0,Fall,16.877316,46.00,50.8,...,32.6909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,3.0
1,000fd460,Summer,9,0,NaN,NaN,Fall,14.035590,48.00,46.0,...,27.0552,NaN,NaN,Fall,2.340,Fall,46.0,64.0,Summer,0.0
2,00105258,Summer,10,1,Fall,71.0,Fall,16.648696,56.50,75.6,...,NaN,NaN,NaN,Summer,2.170,Fall,38.0,54.0,Summer,2.0
3,00115b9f,Winter,9,0,Fall,71.0,Summer,18.292347,56.00,81.6,...,45.9966,NaN,NaN,Winter,2.451,Summer,31.0,45.0,Winter,0.0
4,0016bb22,Spring,18,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,Summer,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,001f3379,Spring,13,1,Winter,50.0,Summer,22.279952,59.50,112.2,...,63.1265,NaN,NaN,Spring,4.110,Summer,40.0,56.0,Spring,0.0
6,0038ba98,Fall,10,0,NaN,NaN,Fall,19.660760,55.00,84.6,...,47.2211,NaN,NaN,Winter,3.670,Winter,27.0,40.0,Fall,3.0
7,0068a485,Fall,10,1,NaN,NaN,Fall,16.861286,59.25,84.2,...,50.4767,NaN,NaN,Fall,1.270,NaN,NaN,NaN,Fall,2.0
8,0069fbed,Summer,15,0,NaN,NaN,Spring,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Summer,2.0
9,0083e397,Summer,19,1,Summer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0087dd65,Spring,11,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,NaN
11,00abe655,Fall,11,0,Summer,66.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Winter,1.100,Winter,42.0,59.0,Fall,0.0
12,00ae59c9,Fall,13,0,NaN,NaN,Winter,21.079065,57.75,100.0,...,56.0118,NaN,NaN,Fall,3.020,Fall,33.0,47.0,Fall,1.0
13,00af6387,Spring,12,0,NaN,NaN,Spring,15.544111,60.00,79.6,...,NaN,NaN,NaN,Spring,1.220,NaN,NaN,NaN,Spring,NaN
14,00bd4359,Spring,12,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,2.0
15,00c0cd71,Winter,7,0,Summer,51.0,Spring,29.315775,54.00,121.6,...,NaN,NaN,NaN,NaN,NaN,Spring,35.0,50.0,Winter,2.0
16,00d56d4b,Spring,5,1,Summer,80.0,Spring,17.284504,44.00,47.6,...,NaN,NaN,NaN,NaN,NaN,Spring,37.0,53.0,Spring,0.0
17,00d9913d,Fall,10,1,NaN,NaN,Fall,19.893157,55.00,85.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,1.0
18,00e6167c,Winter,6,0,Spring,60.0,Winter,30.094649,37.50,60.2,...,38.7638,NaN,NaN,NaN,NaN,Winter,39.0,55.0,Winter,3.0
19,00ebc35d,Winter,10,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winter,2.0

4. sample_submission.csv

In [84]:
sample_submission = pd.read_csv(DATA_PATH/'sample_submission.csv')
display(sample_submission)

          id  sii
0   00008ff9    0
1   000fd460    1
2   00105258    2
3   00115b9f    3
4   0016bb22    0
5   001f3379    1
6   0038ba98    2
7   0068a485    3
8   0069fbed    0
9   0083e397    1
10  0087dd65    2
11  00abe655    3
12  00ae59c9    0
13  00af6387    1
14  00bd4359    2
15  00c0cd71    3
16  00d56d4b    0
17  00d9913d    1
18  00e6167c    2
19  00ebc35d    3

In [85]:
display(len(set(train.columns) & set(test.columns)))

59

In [86]:
display(len(set(train.columns) - set(test.columns)))
display(set(train.columns) - set(test.columns))

23

{'PCIAT-PCIAT_01',
 'PCIAT-PCIAT_02',
 'PCIAT-PCIAT_03',
 'PCIAT-PCIAT_04',
 'PCIAT-PCIAT_05',
 'PCIAT-PCIAT_06',
 'PCIAT-PCIAT_07',
 'PCIAT-PCIAT_08',
 'PCIAT-PCIAT_09',
 'PCIAT-PCIAT_10',
 'PCIAT-PCIAT_11',
 'PCIAT-PCIAT_12',
 'PCIAT-PCIAT_13',
 'PCIAT-PCIAT_14',
 'PCIAT-PCIAT_15',
 'PCIAT-PCIAT_16',
 'PCIAT-PCIAT_17',
 'PCIAT-PCIAT_18',
 'PCIAT-PCIAT_19',
 'PCIAT-PCIAT_20',
 'PCIAT-PCIAT_Total',
 'PCIAT-Season',
 'sii'}

In [87]:
# testに含まれないカラムの説明を表示
datadict[datadict["Field"].isin(list(set(train.columns) - set(test.columns)))]

,Instrument,Field,Description,Type,Values,Value Labels
54,Parent-Child Internet Addiction Test,PCIAT-Season,Season of participation,str,"Spring, Summer, Fall, Winter",NaN
55,Parent-Child Internet Addiction Test,PCIAT-PCIAT_01,How often does your child disobey time limits you set for online use?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
56,Parent-Child Internet Addiction Test,PCIAT-PCIAT_02,How often does your child neglect household chores to spend more time online?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
57,Parent-Child Internet Addiction Test,PCIAT-PCIAT_03,How often does your child prefer to spend time online rather than with the rest of your family?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
58,Parent-Child Internet Addiction Test,PCIAT-PCIAT_04,How often does your child form new relationships with fellow online users?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
59,Parent-Child Internet Addiction Test,PCIAT-PCIAT_05,How often do you complain about the amount of time your child spends online?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
60,Parent-Child Internet Addiction Test,PCIAT-PCIAT_06,How often do your child's grades suffer because of the amount of time he or she spends online?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
61,Parent-Child Internet Addiction Test,PCIAT-PCIAT_07,How often does your child check his or her e-mail before doing something else?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
62,Parent-Child Internet Addiction Test,PCIAT-PCIAT_08,How often does your child seem withdrawn from others since discovering the Internet?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
63,Parent-Child Internet Addiction Test,PCIAT-PCIAT_09,How often does your child become defensive or secretive when asked what he or she does online?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
64,Parent-Child Internet Addiction Test,PCIAT-PCIAT_10,How often have you caught your child sneaking online against your wishes?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
65,Parent-Child Internet Addiction Test,PCIAT-PCIAT_11,How often does your child spend time along in his or her room playing on the computer?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
66,Parent-Child Internet Addiction Test,PCIAT-PCIAT_12,"How often does your child receive strange phone calls from new ""online"" friends?",categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
67,Parent-Child Internet Addiction Test,PCIAT-PCIAT_13,"How often does your child snap, yell, or act annoyed if bothered while online?",categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
68,Parent-Child Internet Addiction Test,PCIAT-PCIAT_14,How often does your child seem more tired and fatigued than he or she did before the Internet ca...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
69,Parent-Child Internet Addiction Test,PCIAT-PCIAT_15,How often does your child seem preoccupied with being back online when off-line?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
70,Parent-Child Internet Addiction Test,PCIAT-PCIAT_16,How often does your child throw tantrums with your interference about how long he or she spends ...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
71,Parent-Child Internet Addiction Test,PCIAT-PCIAT_17,How often does your child choose to spend time online rather than doing once enjoyed hobbies and...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
72,Parent-Child Internet Addiction Test,PCIAT-PCIAT_18,How often does your child become angry or belligerent when your place time limits on how much ti...,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
73,Parent-Child Internet Addiction Test,PCIAT-PCIAT_19,How often does your child choose to spend more time online than going out with friends?,categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
74,Parent-Child Internet Addiction Test,PCIAT-PCIAT_20,"How often does your child feel depressed, moody, or nervous when off-line which seems to go away...",categorical int,"0,1,2,3,4,5","0=Does Not Apply, 1=Rarely, 2=Occasionally, 3=Frequently, 4=Often, 5=Always"
75,Parent-Child Internet Addiction Test,PCIAT-PCIAT_Total,Total Score,int,NaN,Severity Impairment Index: 0-30=None; 31-49=Mild; 50-79=Moderate; 80-100=Severe

#### 考察
- testデータには，親子インターネット依存テスト (PCIAT): 20 項目 (PCIAT-PCIAT_01～PCIAT-PCIAT_20)が欠落している．
- PCIATは，それぞれがインターネットの使用に関連する子供の行動のさまざまな側面を評価する，5段階質問である．
- 合計スコアがインターネット依存度の重症度を示す．
- 参加シーズン，合計点も欠落．
- siiを含めて23カラムが欠落．

In [88]:
pciat_min_max = train.groupby('sii')['PCIAT-PCIAT_Total'].agg(['min', 'max'])
pciat_min_max = pciat_min_max.rename(
    columns={'min': 'Minimum PCIAT total Score', 'max': 'Maximum total PCIAT Score'}
)
display(pciat_min_max)
datadict[datadict['Field'] == 'PCIAT-PCIAT_Total']['Value Labels'].iloc[0]

     Minimum PCIAT total Score  Maximum total PCIAT Score
sii
0.0                        0.0                       30.0
1.0                       31.0                       49.0
2.0                       50.0                       79.0
3.0                       80.0                       93.0

'Severity Impairment Index: 0-30=None; 31-49=Mild; 50-79=Moderate; 80-100=Severe'

In [89]:
columns_not_in_test = sorted(list(set(train.columns) - set(test.columns)))
train_with_sii = train[train['sii'].notna()][columns_not_in_test]
train_with_sii[train_with_sii.isna().any(axis=1)].head().style.applymap(
    lambda x: 'background-color: #FFA0AB; color: #000000;' if pd.isna(x) else ''
)

/tmp/ipykernel_2806809/863358953.py:3: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  train_with_sii[train_with_sii.isna().any(axis=1)].head().style.applymap(

In [ ]:
PCIAT_cols = [f'PCIAT-PCIAT_{i+1:02d}' for i in range(20)]
# 20個のPCIATのスコアを合計して、PCIAT-PCIAT_Totalと一致するか確認
recalc_total_score = train_with_sii[PCIAT_cols].sum(
    axis=1, skipna=True
)
(recalc_total_score == train_with_sii['PCIAT-PCIAT_Total']).all()

True

In [ ]:
def recalculate_sii(row):
    # NaN が含まれる場合は NaN を返す
    if pd.isna(row['PCIAT-PCIAT_Total']):
        return np.nan
    # 欠損値がある場合，その回答を5として，最大値を求める
    max_possible = row['PCIAT-PCIAT_Total'] + row[PCIAT_cols].isna().sum() * 5
    # PCIAT-PCIAT_Total とmax_possibleが近しい区間にある場合，siiを返す
    # それ以外はNaNを返す -> 欠損値が考慮されたSIIであるかどうかを判断
    if row['PCIAT-PCIAT_Total'] <= 30 and max_possible <= 30:
        return 0
    elif 31 <= row['PCIAT-PCIAT_Total'] <= 49 and max_possible <= 49:
        return 1
    elif 50 <= row['PCIAT-PCIAT_Total'] <= 79 and max_possible <= 79:
        return 2
    elif row['PCIAT-PCIAT_Total'] >= 80 and max_possible >= 80:
        return 3
    return np.nan

train['recalc_sii'] = train.apply(recalculate_sii, axis=1)

In [92]:
mismatch_rows = train[
    (train['recalc_sii'] != train['sii']) & train['sii'].notna()
]

mismatch_rows[PCIAT_cols + [
    'PCIAT-PCIAT_Total', 'sii', 'recalc_sii'
]].style.applymap(
    lambda x:  'background-color: #FFA0AB; color: #000000;' if pd.isna(x) else ''
)

/tmp/ipykernel_2806809/3125743760.py:7: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  ]].style.applymap(

In [ ]:

train['sii'] = train['recalc_sii']
# 全PCIAT列に欠損値があるか確認，ある場合はcomplete_resp_totalにNaNを入れる
train['complete_resp_total'] = train['PCIAT-PCIAT_Total'].where(
    train[PCIAT_cols].notna().all(axis=1), np.nan
)

# ラベル付き分類名に変換
sii_map = {0: '0 (None)', 1: '1 (Mild)', 2: '2 (Moderate)', 3: '3 (Severe)'}
train['sii'] = train['sii'].map(sii_map).fillna('Missing')

# 順序付きカテゴリカル変数に変換
sii_order = ['Missing', '0 (None)', '1 (Mild)', '2 (Moderate)', '3 (Severe)']
train['sii'] = pd.Categorical(train['sii'], categories=sii_order, ordered=True)

# 不要列'realc_sii'を削除
train.drop(columns='recalc_sii', inplace=True)